.on-dark {
  color: #fff;
}

.app-section {
  padding-top: $grid-gutter-width * 4.5;
  padding-bottom: $grid-gutter-width * 4.5;
  background-size: cover;
  background-repeat: no-repeat;
  &-internal {
    padding-bottom: 0;
  }
}

@include media-breakpoint-down(lg) {
  .app-section {
    padding-top: $grid-gutter-width * 4;
    padding-bottom: $grid-gutter-width * 4;
    &-internal {
      padding-bottom: 0;
    }
  }
}

@include media-breakpoint-down(sm) {
  .app-section {
    padding-top: ($grid-gutter-width * 2);
    padding-bottom: ($grid-gutter-width * 2);
    &-internal {
      padding-bottom: 0;
    }
  }
}

img.ng-lazyloaded {
  animation: fadein .5s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}