<section class="app-section">
    <div class="container">
        <div class="row  justify-content-center">
            <div class="col-12 col-sm-10 col-lg-8">
                <h2 class="text-center mb-3 mb-lg-5">About my relationships with web-development</h2>
            </div>
            <div class="w-100"></div>
            <app-icon-box class="col-10 col-lg-4"
                          [src]="'./assets/imgs/html.svg'"
                          [title]="'I\'m in love with HTML'"
                          [text]="'Hypertext Markup Language (HTML) is the standard markup language for creating web pages and web applications.'"
            ></app-icon-box>
            <app-icon-box class="col-10 col-lg-4"
                          [src]="'./assets/imgs/css.svg'"
                          [title]="'CSS is my best friend'"
                          [text]="'Cascading Style Sheets (CSS) is a style sheet language used for describing the presentation of a document written in a markup language like HTML.'"
            ></app-icon-box>
            <app-icon-box class="col-10 col-lg-4"
                          [src]="'./assets/imgs/javascript.svg'"
                          [title]="'JavaScript is my passion'"
                          [text]="'JavaScript is a high-level, interpreted programming language. It is a language which is also characterized as dynamic, weakly typed, prototype-based and multi-paradigm.'"
            ></app-icon-box>
        </div>
    </div>
</section>
