<div class="app-pseudo-file-input form-control form-control-lg">
    <input type="file" #fileInput (change)="onChange($event)">
    <span>{{fileName}}</span>
    <div class="file-input-btns-container">
        <button *ngIf="fileInput.files.length" type="button" class="btn btn-link btn-delete" (click)="deleteFile()">x
        </button>
        <button type="button" class="btn btn-outline-primary btn-upload d-none d-md-block btn-upload"
                (click)="trigger()">Upload
        </button>
        <button type="button" class="btn btn-outline-primary icon-upload d-md-none btn-upload"
                (click)="trigger()"></button>
    </div>
</div>