<footer class="on-dark pt-4 pb-4">
    <div class="container">
        <div class="row align-items-center justify-content-center justify-content-md-between">
            <div class="col-auto">
                <app-logo></app-logo>
            </div>
            <div class="col-12 col-md-auto">
                <app-main-menu></app-main-menu>
            </div>
        </div>
    </div>
    <hr class="mt-4 mb-4">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-4">
                <p class="d-flex align-items-center justify-content-center justify-content-md-start"><span
                        class="icon-mail pr-2 d-none d-md-block"></span><span>work.of.future@gmail.com</span>
                </p>
                <p class="d-flex align-items-center justify-content-center justify-content-md-start"><span
                        class="icon-cellphone pr-2 pt-1 d-none d-md-block"></span>+38 (050) 789 24 98
                </p>
                <p class="d-flex align-items-center justify-content-center justify-content-md-start"><span
                        class="icon-phone pr-2 pt-1 d-none d-md-block"></span>+38 (095) 556 08 45</p>
            </div>
            <div class="col-6 col-sm-3 col-md-2 d-none d-md-block" *ngFor="let col of [1,4,8,12]">
                <ng-container *ngFor="let item of [col,col+1,col+2,col+3]">
                    <p class="p2 mb-2 text-left text-lg-right">Menu item #{{item}}</p>
                </ng-container>
            </div>
            <div class="w-100"></div>
        </div>
        <div class="row align-items-center justify-content-center justify-content-md-between">
            <div class="col-12 col-md-auto order-1 order-md-0 text-center text-md-left">
                <p class="p4 mt-4">© abz.agency specially for the test task</p>
            </div>
            <div class="col-12 col-md-auto pr-md-0 d-flex order-0 order-md-1 justify-content-center justify-content-md-end flex-wrap">
                <ng-container
                        *ngFor="let icon of ['icon-facebook', 'icon-instagram', 'icon-linkedin' ,'icon-pinterest' ,'icon-twitter']">
                    <button class="btn btn-link d-flex align-items-center"><span [class]="icon"></span></button>
                </ng-container>
            </div>
        </div>
    </div>
</footer>