<section class="app-section app-section-internal">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-10">
                <h2 class="text-center">Our cheerful users</h2>
                <h5 class="text-center">Attention! Sorting users by registration date</h5>
            </div>
            <div class="w-100 mb-5"></div>
            <ng-container *ngIf="(applicantsState$ | async).applicants as applicants">
                <app-users-item
                        class="col-12 col-md-4 mb-5"
                        *ngFor="let applicant of applicants"
                        [src]="applicant.photo"
                        [title]="applicant.name"
                        [text]="[applicant.position, applicant.email, applicant.phone]">
                </app-users-item>
            </ng-container>
            <div class="col-12 text-center">
                <button class="btn btn-sm btn-outline-primary btn-with-min-width"
                        *ngIf="(applicantsState$ | async).links.next_url"
                        (click)="showMoreUsers()"
                >Show more
                </button>
            </div>
        </div>
    </div>
</section>
