@import "mixins/buttons";
//
// Alternate buttons
//

@each $color, $value in $theme-colors {
  .btn-#{$color} {
    @include button-variant($value, $value);
  }
}

@each $color, $value in $theme-colors {
  .btn-outline-#{$color} {
    @include button-outline-variant($value);
  }
}

//
// Link buttons
//

// Make a button look and behave like a link
.btn-link {
  font-weight: $font-weight-bold;

  @include hover {
    color: lighten($link-color, 15);
    text-decoration: none;
  }

  &:focus,
  &.focus {
    text-decoration: none;
  }

}

.btn-moved-left{
  margin-left: calc(#{-$btn-padding-x} - #{$btn-border-width});
  &.btn-lg {
    margin-left: calc(#{-$btn-padding-x-lg} - #{$btn-border-width});
  }
  &.btn-sm {
    margin-left: calc(#{-$btn-padding-x-sm} - #{$btn-border-width});
  }
}

.btn-with-min-width {
  width: 100%;
}

@include media-breakpoint-up(sm) {
  .btn-with-min-width {
    width: auto;
    min-width: 290px;
  }
}


