[class^='icon'] {
  font-size: 25px;
  &::before {
    color: map_get($theme-colors, secondary);
  }
}

.on-dark {
  [class^='icon'] {
    &::before {
      color: #fff;
    }
  }
  .btn-link {
    &:hover {
      [class^='icon'] {
        &::before {
          color: map_get($theme-colors, primary);
        }
      }
    }
  }
}

.btn-link {
  &:hover {
    [class^='icon'] {
      &::before {
        color: lighten(map_get($theme-colors, secondary), 15);
      }
    }
  }
}