[class^='icon'] {
  font-size: 20px;
  &::before {
    color: map_get($theme-colors, secondary);
  }
  &:hover {
    &::before {
      color: lighten(map_get($theme-colors, secondary), 15);
    }
  }
}

.on-dark {
  &::before {
    color: #fff;
  }
  &:hover {
    &::before {
      color: map_get($theme-colors, primary);
    }
  }
}