<section class="app-section pt-0">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-8 col-lg-6">
                <h2 class="text-center">Register to get a work</h2>
                <h5 class="text-center">Attention! After successful registration and alert, update the list of users in
                    the block from the top</h5>
            </div>
            <div class="w-100 mb-5"></div>
            <div class="col-12">
                <app-registration-form></app-registration-form>
            </div>
        </div>
    </div>
</section>
