<section class="app-section">
    <div class="container on-dark">
        <div class="row">
            <div class="col-12 col-md-6">
                <h1>Test assignment for Frontend Developer position</h1>
                <p>We kindly remind you that your test assignment should
                    be submitted as a link to github/bitbucket repository.
                    <span class="d-none d-sm-block">Please be patient, we consider and respond to every application that meets minimum requirements. We
                    look
                    forward to your submission. Good luck!</span></p>
                <a href="#sign-up" class="btn btn-sm btn-primary btn-with-min-width mt-3">Sign Up</a>
            </div>
        </div>
    </div>
</section>
