<form class="row needs-validation"
      *ngIf="(positionsState$ | async).positions.length; else loader"
      [formGroup]="form"
      (ngSubmit)="onSubmit()"
      novalidate
>
    <div class="col-12 col-md-4 mb-4">
        <div class="form-group">
            <label class="label-float">Name</label>
            <input type="text" class="form-control form-control-lg" formControlName="name" placeholder="Your name">
            <div class="invalid-feedback" *ngIf="!form.get('name').valid && form.get('name').touched">
                <p *ngIf="form.get('name').hasError('required')">User name required</p>
                <p *ngIf="form.get('name').hasError('minlength') || form.get('name').hasError('maxlength')">User name
                    must be 2-60 characters</p>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-4 mb-4">
        <div class="form-group">
            <label class="label-float">Email</label>
            <input type="email" class="form-control form-control-lg" formControlName="email" placeholder="Your email">
            <div class="invalid-feedback" *ngIf="!form.get('email').valid && form.get('email').touched">
                <p *ngIf="form.get('email').hasError('required')">Email required</p>
                <p *ngIf="form.get('email').hasError('minlength') || form.get('email').hasError('maxlength')">Email
                    2-100 characters</p>
                <p *ngIf="form.get('email').hasError('pattern')">Wrong email format</p>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-4 mb-4">
        <div class="form-group">
            <label class="label-float">Phone</label>
            <input type="tel" class="form-control form-control-lg" formControlName="phone"
                   placeholder="+38(___) ___ __ __">
            <div class="invalid-feedback" *ngIf="!form.get('phone').valid && form.get('phone').touched">
                <p *ngIf="form.get('phone').hasError('required')">Phone required</p>
                <p *ngIf="form.get('phone').hasError('pattern')">Wrong phone format</p>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-6 mb-4">
        <div class="form-group">
            <select formControlName="position_id" class="form-control form-control-lg">
                <option disabled value="">--Select position--</option>
                <option *ngFor="let position of (positionsState$ | async).positions" [value]="position.id">
                    {{position.name}}
                </option>
            </select>
            <div class="invalid-feedback" *ngIf="!form.get('position_id').valid && form.get('position_id').touched">
                <p *ngIf="form.get('position_id').hasError('required')">Choose position</p>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-6 mb-4">
        <div class="form-group">
            <app-file-input
                    class="form-control form-control-lg"
                    formControlName="photo"
                    [placeholder]="'Upload photo'">
            </app-file-input>
            <div class="invalid-feedback" *ngIf="!form.get('photo').valid && form.get('photo').touched">
                <p *ngIf="form.get('photo').hasError('required')">Photo required</p>
                <p *ngIf="form.get('photo').hasError('sizeError')">Photo must be
                    {{form.get('photo').errors.sizeError.expected}}. <br> Actual size:
                    {{form.get('photo').errors.sizeError.size}}</p>
                <p *ngIf="form.get('photo').hasError('typeError')">Allowed types:
                    {{form.get('photo').errors.typeError.expected}}.
                    <br> Actual type: {{form.get('photo').errors.typeError.type}}</p>
                <p *ngIf="form.get('photo').hasError('resolutionError')">Resolution must be
                    {{form.get('photo').errors.resolutionError.expected}}.
                    <br> Actual resolution: {{form.get('photo').errors.resolutionError.resolution}}</p>
            </div>
        </div>
    </div>
    <div class="col-12 text-center mt-4">
        <button type="submit" class="btn btn-sm btn-with-min-width" [disabled]="!form.valid">Sign Up</button>
    </div>
</form>
<ng-template #loader>
    <div style="height: 240px; display: flex; align-items: center; justify-content: center; background: #f8f8f8; -webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;">
        Form Loading...
    </div>
</ng-template>


