app-about {
  @include media-breakpoint-between(md,lg) {
    app-icon-box {
      display: flex;
      flex-direction: row;
      img {
        margin-right: $grid-gutter-width / 2;
      }
    }
  }
  //@include media-breakpoint-down(md) {
  //  app-icon-box {
  //    *{
  //      text-align: center;
  //    }
  //    display: flex;
  //    align-items: center;
  //    flex-direction: column;
  //    justify-content: center;
  //  }
  //}
}