app-about {
  @include media-breakpoint-between(md, lg) {
    app-icon-box {
      display: flex;
      flex-direction: row;
      img {
        margin-right: $grid-gutter-width / 2;
      }
    }
  }
}