app-file-input {
  input {
    display: none;
  }
  .app-pseudo-file-input {
    position: relative;
    display: flex;
    align-items: center;
    color: $input-placeholder-color;
    cursor: default;
    padding-right: 100px;
    span {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  .btn.btn-upload {
    position: relative;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    line-height: 1;
    top: 0;
    right: 0;
    height: 100%;
  }
  .btn.btn-delete {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    line-height: 1;
  }
  .file-input-btns-container {
    position: absolute;
    right: -$input-border-width;
    top: -$input-border-width;
    bottom: -$input-border-width;
    padding-left: 50px;
    max-width: 50%;
    .btn {
      max-width: 100%;
    }
  }
}

@include media-breakpoint-up(md) {
  //padding-right: $btn-padding-x * 2.5;
  //padding-left: $btn-padding-x * 2.5;
  app-file-input {
    .app-pseudo-file-input {
      padding-right: 145px;
    }
  }
}