app-file-input {
  position: relative;
  display: flex !important;
  align-items: center;
  color: $input-placeholder-color !important;
  cursor: default;
  padding-right: 100px !important;
  input {
    display: none;
  }
  .btn.btn-upload {
    position: relative;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    line-height: 1;
    top: 0;
    right: 0;
    height: 100%;
  }
  .btn.btn-delete {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    line-height: 1;
  }
  .app-file-input {
    &__ {
      &file-name {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      &btns-container {
        position: absolute;
        right: -$input-border-width;
        top: -$input-border-width;
        bottom: -$input-border-width;
        padding-left: 50px;
        max-width: 50%;
        .btn {
          max-width: 100%;
        }
      }
    }
  }
}

@include media-breakpoint-up(md) {
  app-file-input {
    padding-right: 145px !important;
  }
}