app-intro {
  .app-section {
    background-position: 0 32%;
    background-image: url("#{$imgs-path}/bg-1@1x.jpg");
    @include breakpoints-and-resolution-bg('bg-1', 'jpg', 1);
    @include breakpoints-and-resolution-bg('bg-1', 'jpg', 2);
    @include media-breakpoint-down(xs) {
      background-position: 35% 0;
    }
  }
}